.container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.form-section,
.contact-section {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 48%;
}
/* Form Section */
.form-section h2 {
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 20px;
}
.form-section label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--primary);
}
.form-section input,
.form-section select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #dfe6e9;
  font-size: 1rem;
  color: var(--dark);
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row .col {
  width: 48%;
}
.submit-btn {
  background-color: var(--primary);
  color: white;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}
.submit-btn:hover {
  background-color: var(--primary);
}
/* Contact Section */
.contact-section h3 {
  font-size: 1.75rem;
  color: #2c3e50;
  margin-bottom: 20px;
}
.contact-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-details {
  line-height: 1.8;
  color: var(--dark);
}
.contact-details strong {
  color: var(--primary);
}
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}